@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }

  .features-dsc {
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .mobile-menu-tel {
    font-size: 26px;
  }

  .mobile-menu-social {
    gap: 30px;
  }
}
