@media screen and (min-width: 480px) {
  .features-dsc {
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  .mobile-menu-tel {
    font-size: 26px;
  }

  .mobile-menu-social {
    gap: 30px;
  }
}
